@import url('reset.css');

body {
    background-color: #cfd1e3;
    min-height: 100%;
}

.container {
    width: 100vw;
    background-color: #ffffff;
    border-radius: 1rem;    
    padding: 1rem;
    margin: 0.5rem auto;
}

.headerpokeball {
   position: absolute;
   top: -10px;
   right: -10px;
   width: 182px;
   height: auto;
   z-index: 0;   
}


.pokemons {
    display: grid;
    grid-template-columns: 1fr;
    list-style: none;
    padding: 0;
    margin: 0;
}

.normal {
    background-color: #B7B8A7;
}
.fire {
    background-color: #ec9959;
}
.water {
     background-color: #7399ed;
    }
.electric {
    background-color: #f0d465;
}
.grass {
    background-color: #69B873;
}
.ice {
    background-color: #96D9D6;
}
.fighting {
    background-color: #C22E28;
}
.poison {
    background-color: #a0619f;
}
.ground {   
    background-color: #bca56a;
}
.flying {
    background-color: #A1ABDA;
}
.psychic {
    background-color: #f66f97;
}
.bug {
    background-color: #bfcf48;
}
.rock {
    background-color: #B6A136;
}
.ghost {
     background-color: #735797;
    }
.dragon {
    background-color: #895ef7;
}
.dark {
    background-color: #424348;
}
.steel {
    background-color: #B7B7CE;
}
.fairy {
    background-color: #fcb9cd;
}


.pokemon {
    display: flex;
    flex-direction: column;
    margin: .5rem;
    padding: .9rem; 
    border-radius: 1rem;    
    color: #ffffff;
    box-shadow: 0 0 1rem rgba(0, 0, 0, 0.18);
    z-index: 1;

}

.pokemon .number {
    color: #000;
    opacity: 0.3;
    text-align: right;
    font-size: .625rem;
}

.pokemon .name {
    text-transform: capitalize;
    color: #ffffff;
    margin-bottom:0;
}

.pokemon .details {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

.pokemon .details .types {
    padding: 0;
    margin: 0;
    list-style: none;

}

.pokemon .details .types .type {
    color: #ffffff;
    padding: .25rem 1rem;
    margin: .25rem 0;
    border-radius: 1rem;
    font-size: .625rem;
    filter: brightness(1.065);
    text-align: center;
}

.pokemon .details img {
    max-width: 100%;
    height: 82px;
    align-self: flex-end;
    margin-left: .5rem;
}

.pagination {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 100%;
    padding: 1rem;
    margin: 1rem 0;
}

.pagination button {
    padding: 0.25rem 0.5rem;
    margin: .25rem 0;
    font-size: .625rem;
    color: #ffffff;
    background-color: #6c79db;
    border: none;
    border-radius: 1rem;
    cursor: pointer;
}

/* responsividade */


@media screen and (min-width: 380px) {
    .pokemons {
        grid-template-columns: 1fr 1fr;
    }   
    
}

@media screen and (min-width: 576px) {
    .pokemons {
        grid-template-columns: 1fr 1fr 1fr;
    }   
}

@media screen and (min-width: 820px) {

    .container {
        max-width: 820px;
        height: 100%;
        margin: 1rem auto;
    }
    
}

@media screen and (min-width: 992px) {
    .pokemons {
        height: 100%;
        grid-template-columns: 1fr 1fr 1fr 1fr;
    }   
}